{
  ".java": "java",
  ".kt": "kotlin",
  ".kts": "kotlin",
  ".rs": "rust",
  ".py": "python",
  ".ts": "typescript",
  ".tsx": "typescript",
  ".js": "javascript",
  ".mjs": "javascript",
  ".cjs": "javascript",
  ".go": "go",
  ".rb": "ruby",
  ".sh": "bash",
  ".bash": "bash",
  ".ml": "ocaml",
  ".mli": "ocaml",
  ".sql": "sql",
  ".xml": "xml",
  ".yml": "yaml",
  ".yaml": "yaml",
  ".json": "json",
  ".zig": "zig"
}
